# ETL Project:  Video Streaming Services
Our project looks at the ETL process of the top video streaming services.  We aim to create a database with (1) aggregated table, each consisting of television shows from popular platforms such as Amazon Prime, Disney Plus, and Hulu.  Since each provider has different titles with little to no overlap, our objective is to create a relational database for those who are subscribed to all of them to have the ability to run filtered queries to find something to watch and where.

In [ ]:
# Dependencies and setup
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import (user, password, host, port, database)
from TAconfig import (user, password, host, port, database)

# Extract

- Step 1:  we begin by loading each CSV into its own respective DataFrame.

In [ ]:
# Read Amazon Prime Shows CSV into DataFrame
amazonPrime_file = "Resources/amazon_prime_shows.csv"
amazonPrimeRaw_df = pd.read_csv(amazonPrime_file, encoding = "iso-8859-1")
amazonPrimeRaw_df.head()

In [ ]:
# Read Disney Plus Shows CSV into DataFrame
disneyPlus_file = "Resources/disney_plus_shows.csv"
disneyPlusRaw_df = pd.read_csv(disneyPlus_file)
disneyPlusRaw_df.head()

In [ ]:
# Read Hulu Shows CSV into DataFrame
hulu_file = "Resources/HuluRaw.csv"
huluRaw_df = pd.read_csv(hulu_file)
huluRaw_df.head()

# Transform Amazon Prime

- Step 1:  create new DataFrame with only desired columns.
- Step 2:  drop rows containing NaN values.
- Step 3:  rename columns.
- Step 4:  split strings in genre_1 column into (2) new columns; drop original genre_1 column.
- Step 5:  split strings in genre_3 column into (2) new columns; drop original genre_3 column.
- Step 6:  split strings in genre_5 column into (1) new column; drop original genre_5 column.
- Step 7:  add new column with platform name (i.e. Amazon Prime).
- Step 8:  rename columns.
- Step 9:  drop unwanted characters (,) from each genre column.
- Step 10:  format data in each genre column to match genres across all DataFrames (i.e. "Sci-fi" becomes "Sci-Fi").
- Step 11:  rearrange columns.

In [ ]:
# Create new DataFrame with only desired columns
amazonPrime_df = amazonPrimeRaw_df[["Name of the show", "Genre", "IMDb rating"]].copy()
amazonPrime_df

In [ ]:
# Drop rows containing NaN values
amazonPrime_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace = True)
amazonPrime_df

In [ ]:
# Rename columns
amazonPrime_df = amazonPrime_df.rename(columns = {"Name of the show":"title", "Genre":"genre_1", "IMDb rating":"user_rating"})
amazonPrime_df.head()

In [ ]:
# Split strings in genre_1 column
a_df = amazonPrime_df["genre_1"].str.split(" ", n = 1, expand = True)
amazonPrime_df["genre_2"] = a_df[0]
amazonPrime_df["genre_3"] = a_df[1]

# Drop old genre_1 column
amazonPrime_df.drop(columns = ["genre_1"], inplace = True)
amazonPrime_df.head()

In [ ]:
# Split strings in genre_3 column
a2_df = amazonPrime_df["genre_3"].str.split(" ", n = 1, expand = True)
amazonPrime_df["genre_4"] = a2_df[0]
amazonPrime_df["genre_5"] = a2_df[1]

# Drop old genre_3 column
amazonPrime_df.drop(columns = ["genre_3"], inplace = True)
amazonPrime_df.head()

In [ ]:
# Split strings in genre_5 column
a3_df = amazonPrime_df["genre_5"].str.split(" ", n = 1, expand = True)
amazonPrime_df["genre_6"] = a3_df[0]

# Drop old genre_5 column
amazonPrime_df.drop(columns = ["genre_5"], inplace = True)
amazonPrime_df.head()

In [ ]:
# Add new column with platform name
amazonPrime_df["platform"] = "Amazon Prime"
amazonPrime_df.head()

In [ ]:
# Rename columns
amazonPrime_df = amazonPrime_df.rename(columns = {"genre_2":"genre_1", "genre_4":"genre_2", "genre_6":"genre_3"})
amazonPrime_df.head()

In [ ]:
# Drop unwanted characters from strings in genre_1, genre_2, and genre_3
amazonPrime_df["genre_1"] = amazonPrime_df["genre_1"].str.replace(",", "")
amazonPrime_df["genre_2"] = amazonPrime_df["genre_2"].str.replace(",", "")
amazonPrime_df["genre_3"] = amazonPrime_df["genre_3"].str.replace(",", "")

In [ ]:
# Make genre data consistent with other platform datasets
amazonPrime_df["genre_1"] = amazonPrime_df["genre_1"].str.replace("Sci-fi", "Sci-Fi")
amazonPrime_df["genre_1"] = amazonPrime_df["genre_1"].str.replace("comedy", "Comedy")
amazonPrime_df["genre_2"] = amazonPrime_df["genre_2"].str.replace("Sci-fi", "Sci-Fi")
amazonPrime_df["genre_2"] = amazonPrime_df["genre_2"].str.replace("comedy", "Comedy")
amazonPrime_df["genre_3"] = amazonPrime_df["genre_3"].str.replace("Sci-fi", "Sci-Fi")
amazonPrime_df["genre_3"] = amazonPrime_df["genre_3"].str.replace("comedy", "Comedy")

In [ ]:
# Rearrange columns
amazonPrime_df = amazonPrime_df[["platform", "title", "genre_1", "genre_2", "genre_3", "user_rating"]]
amazonPrime_df.head()

# Transform Disney Plus

- Step 1:  create new DataFrame with only desired columns.
- Step 2:  drop rows containing NaN values.
- Step 3:  rename columns.
- Step 4:  split strings in genre_1 column into (2) new columns; drop original genre_1 column.
- Step 5:  split strings in genre_3 column into (2) new columns; drop original genre_3 column.
- Step 6:  split strings in genre_5 column into (1) new column; drop original genre_5 column.
- Step 7:  add new column with platform name (i.e. Disney Plus).
- Step 8:  rename columns.
- Step 9:  drop unwanted characters (,) from each genre column.
- Step 10:  format data in each genre column to match genres across all DataFrames (i.e. "Reality-TV" becomes "Reality").
- Step 11:  rearrange columns.

In [ ]:
# Create new DataFrame with only desired columns
disneyPlus_df = disneyPlusRaw_df[["title", "genre", "imdb_rating"]].copy()
disneyPlus_df

In [ ]:
# Drop rows containing NaN values
disneyPlus_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace = True)
disneyPlus_df

In [ ]:
# Rename columns
disneyPlus_df = disneyPlus_df.rename(columns = {"genre":"genre_1", "imdb_rating":"user_rating"})
disneyPlus_df.head()

In [ ]:
# Split strings in genre_1 column
d_df = disneyPlus_df["genre_1"].str.split(" ", n = 1, expand = True)
disneyPlus_df["genre_2"] = d_df[0]
disneyPlus_df["genre_3"] = d_df[1]

# Drop old genre_1 column
disneyPlus_df.drop(columns = ["genre_1"], inplace = True)
disneyPlus_df.head()

In [ ]:
# Split strings in genre_3 column
d2_df = disneyPlus_df["genre_3"].str.split(" ", n = 1, expand = True)
disneyPlus_df["genre_4"] = d2_df[0]
disneyPlus_df["genre_5"] = d2_df[1]

# Drop old genre_3 column
disneyPlus_df.drop(columns = ["genre_3"], inplace = True)
disneyPlus_df.head()

In [ ]:
# Split strings in genre_5 column
d3_df = disneyPlus_df["genre_5"].str.split(" ", n = 1, expand = True)
disneyPlus_df["genre_6"] = d3_df[0]

# Drop old genre_5 column
disneyPlus_df.drop(columns = ["genre_5"], inplace = True)
disneyPlus_df.head()

In [ ]:
# Add new column with platform name
disneyPlus_df["platform"] = "Disney Plus"
disneyPlus_df.head()

In [ ]:
# Rename columns
disneyPlus_df = disneyPlus_df.rename(columns = {"genre_2":"genre_1", "genre_4":"genre_2", "genre_6":"genre_3"})
disneyPlus_df.head()

In [ ]:
# Drop unwanted characters from strings in genre_1, genre_2, and genre_3
disneyPlus_df["genre_1"] = disneyPlus_df["genre_1"].str.replace(",", "")
disneyPlus_df["genre_2"] = disneyPlus_df["genre_2"].str.replace(",", "")
disneyPlus_df["genre_3"] = disneyPlus_df["genre_3"].str.replace(",", "")

In [ ]:
# Make genre data consistent with other platform datasets
disneyPlus_df["genre_1"] = disneyPlus_df["genre_1"].str.replace("Reality-TV", "Reality")
disneyPlus_df["genre_2"] = disneyPlus_df["genre_2"].str.replace("Reality-TV", "Reality")
disneyPlus_df["genre_3"] = disneyPlus_df["genre_3"].str.replace("Reality-TV", "Reality")

In [ ]:
# Rearrange columns
disneyPlus_df = disneyPlus_df[["platform", "title", "genre_1", "genre_2", "genre_3", "user_rating"]]
disneyPlus_df.head()

# Transform Hulu

- Step 1:  create new DataFrame with only desired columns.
- Step 2:  drop rows containing NaN values.
- Step 3:  rename columns.
- Step 4:  split strings in genre_1 column into (2) new columns; drop original genre_1 column.
- Step 5:  split strings in genre_3 column into (2) new columns; drop original genre_3 and genre_4 columns (genre_4 contained no relevant data).
- Step 6:  add new column with platform name (i.e. Hulu).
- Step 7:  rename columns.
- Step 8:  multiply values in user_rating column times 2 to scale-up and match user_rating values across all DataFrames.
- Step 9:  format data in each genre column to match genres across all DataFrames (i.e. "Science" becomes "Sci-Fi").
- Step 10:  rearrange columns.

In [ ]:
# Create new DataFrame with only desired columns
hulu_df = huluRaw_df[["show/canonical_name", "show/genre", "show/rating"]].copy()
hulu_df

In [ ]:
# Drop rows containing NaN values
hulu_df.dropna(axis = 0, how = "any", thresh = None, subset = None, inplace = True)
hulu_df

In [ ]:
# Rename columns
hulu_df = hulu_df.rename(columns = {"show/canonical_name":"title", "show/genre":"genre_1", "show/rating":"user_rating"})
hulu_df.head()

In [ ]:
# Split strings in genre_1 column
h_df = hulu_df["genre_1"].str.split(" ", n = 1, expand = True)
hulu_df["genre_2"] = h_df[0]
hulu_df["genre_3"] = h_df[1]

# Drop old genre_1 column
hulu_df.drop(columns = ["genre_1"], inplace = True)
hulu_df.head()

In [ ]:
# Split strings in genre_3 column
h2_df = hulu_df["genre_3"].str.split(" ", n = 1, expand = True)
hulu_df["genre_4"] = h2_df[0]
hulu_df["genre_5"] = h2_df[1]

# Drop old genre_3 and new genre_4 column (only contains values of "and")
hulu_df.drop(columns = ["genre_3"], inplace = True)
hulu_df.drop(columns = ["genre_4"], inplace = True)
hulu_df.head()

In [ ]:
# Add new column with platform name
hulu_df["platform"] = "Hulu"
hulu_df.head()

In [ ]:
# Rename columns
hulu_df = hulu_df.rename(columns = {"genre_2":"genre_1", "genre_5":"genre_2"})
hulu_df.head()

In [ ]:
# Multiply user_rating by 2 for consistency with other DataFrame user_rating values
hulu_df["user_rating"] = 2 * hulu_df["user_rating"].round(decimals = 1)
hulu_df.head()

In [ ]:
# Make genres consistent with other datasets
hulu_df["genre_1"] = hulu_df["genre_1"].str.replace("Science", "Sci-Fi")
hulu_df["genre_1"] = hulu_df["genre_1"].str.replace("Health", "Reality")
hulu_df["genre_2"] = hulu_df["genre_2"].str.replace("Wellness", "Game Shows")

In [ ]:
# Rearrange columns
hulu_df = hulu_df[["platform", "title", "genre_1", "genre_2", "user_rating"]]
hulu_df.head()

# Load

- Step 1:  create single DataFrame with data from (3) previous DataFrames.
- Step 2:  in pgAdmin4, create new database.
- Step 3:  in pgAdmin4, create table schemata.
- Step 4:  create an engine that can talk to the database.
- Step 5:  check to see our table has been created in SQL.
- Step 6:  use pandas to load aggregated DataFrame into database.

In [ ]:
# Create single DataFrame with data from (3) previous DataFrames
streamingShows_df = amazonPrime_df.append(disneyPlus_df).append(hulu_df)
streamingShows_df

In [ ]:
# Create an engine that can talk to the database
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
connection = engine.connect()

In [ ]:
# Check for table
engine.table_names()

In [ ]:
# Use pandas to load aggregated DataFrame into database
streamingShows_df.to_sql(name = "streamingshows", con = engine, if_exists = "append", index = False)